body{
    background-color: #663934ff;
    display: flex;
    justify-content: center;

}

.layout {
    width: 600px;
    margin: 0 auto;
    background-color: #f2813cff;
    border: solid black;
}

.header {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    background-color: #dcc664ff;
    border: solid black;
}

img {
    border: solid black;
    width: 100%
}


input{ 
    display: block;
    margin:auto;
    height: 50px;
    width: 60%;
}

.buttun{
    margin: 0 auto;
    width: 61%;
}

.bgColor{
    background-color: #dcc664ff;

}