body{
    background-color: #f2813cff;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-content: column;
}

.header {
    width: 50%;
    height: 10%;
}

img {
    height: 80%;
    width: 90%;
}