@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body{
    background-color: #663934ff;
    display: flex;
    justify-content: center;

}

.layout {
    width: 600px;
    margin: 0 auto;
    background-color: #f2813cff;
    border: solid black;
}

.header {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    background-color: #dcc664ff;
    border: solid black; font-family: "Alfa Slab One", serif;
    font-style: normal;
}
h1{
    font-size: 150%;
}
img {
    border: solid black;
    width: 99%
}


input{ 
    display: block;
    margin:auto;
    height: 50px;
    width: 60%;
}

.buttun{
    margin: 0 auto;
    width: 61%;
}

.bgColor{
    background-color: #dcc664ff;

}